header,
nav,
main,
section,
article,
aside,
details,
summary,
figcaption,
footer {
  display: block;
}

mark {
  display: inline-block;
  background-color: #ff0;
  color: #000;
}

figure { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

time,
wbr {
  display: inline-block;
}

.html ::-moz-selection {
  background-color: #f6d155;
  color: #181301;
  text-shadow: none;
}

.html ::selection {
  background-color: #f6d155;
  color: #181301;
  text-shadow: none;
}

.html {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  overflow-y: scroll;
  zoom: 1;
  background-color: #fafafa;
  font-size: 100%;
}

.body {
  zoom: 1;
  display: block;
  position: relative;
  z-index: 1;
  overflow: visible;
  width: 100%;
  /* height: 100%; */
  min-height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: none;
  font: normal normal 12pt/1 'Fira Sans', Verdana, Geneva, sans-serif;
  color: #212121;
  color: rgba(0, 0, 0, .87);
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.section {
  display: block;
  position: relative;
}

.section__content {
  display: block;
  position: relative;
  margin: auto;
}

.section__content_fixed_864 { max-width: 864px; }

@supports (width: 0) {
  .grid {
    margin-left: -4.1667%;
  }
}

.grid__col {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  -webkit-align-self: flex-start; 
     -moz-align-self: flex-start;
      -ms-align-self: flex-start;
          align-self: flex-start;
  -ms-flex-order: 1;
   -webkit-order: 1;
      -moz-order: 1;
       -ms-order: 1;
           order: 1;
  -webkit-flex: none;
     -moz-flex: none;
      -ms-flex: none;
          flex: none;
  zoom: 1;
  position: relative;
  left: 4%;
  vertical-align: top;
}

/* grid columns (16, 12, 8, 6, 4, 3, 2, 1) */
.grid__col_1_16   { width:  6%;}

.grid__col_1_12,
.grid__col_1      { width:  8%;}

.grid__col_2_16,
.grid__col_1_8    { width: 12%;}

.grid__col_2_12,
.grid__col_1_6,
.grid__col_2      { width: 16%;}

.grid__col_3_16   { width: 18%;}

.grid__col_4_16,
.grid__col_3_12,
.grid__col_2_8,
.grid__col_1_4,
.grid__col_3      { width: 24%;}

.grid__col_5_16   { width: 30%;}

.grid__col_4_12,
.grid__col_2_6,
.grid__col_1_3,
.grid__col_4      { width: 32%;}

.grid__col_6_16,
.grid__col_3_8    { width: 36%;}

.grid__col_5_12,
.grid__col_5      { width: 40%;}

.grid__col_7_16   { width: 42%;}

.grid__col_8_16,
.grid__col_6_12,
.grid__col_4_8,
.grid__col_3_6,
.grid__col_2_4,
.grid__col_1_2,
.grid__col_6      { width: 48%;}

.grid__col_9_16   { width: 54%;}

.grid__col_7_12,
.grid__col_7      { width: 56%;}

.grid__col_10_16,
.grid__col_5_8    { width: 60%;}

.grid__col_8_12,
.grid__col_4_6,
.grid__col_2_3,
.grid__col_8      { width: 64%;}

.grid__col_11_16  { width: 66%;}

.grid__col_12_16,
.grid__col_9_12,
.grid__col_6_8,
.grid__col_3_4,
.grid__col_9      { width: 72%;}

.grid__col_13_16  { width: 78%;}

.grid__col_10_12,
.grid__col_5_6,
.grid__col_10     { width: 80%;}

.grid__col_14_16,
.grid__col_7_8    { width: 84%;}

.grid__col_11_12,
.grid__col_11     { width: 88%;}

.grid__col_15_16  { width: 90%;}

.grid__col_16_16,
.grid__col_12_12,
.grid__col_8_8,
.grid__col_6_6,
.grid__col_4_4,
.grid__col_3_3,
.grid__col_2_2,
.grid__col_1_1,
.grid__col_12     { width: 96%;}
/* / grid columns */

/* grid content blocks */
.grid__content {
  display: block;
  position: relative;
  z-index: 1;
}

.grid__content_gutter_24 { padding: 0 .75em; }


.main {
  padding: 4em 0;
}


.form {
  display: block;
  position: relative;
  padding: .875em 2.875em .875em .875em;
  margin: auto;
  overflow: hidden;
}

.form__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  height: 1.5em;
  padding: .75em 2.75em .75em .75em;
  border: .125em solid #eee;
  outline: none;
  border-radius: .25em;
  margin: -.875em -2.875em -.875em -.875em;
  font: normal normal 12pt/1 'Fira Sans', Verdana, Geneva, sans-serif;
  text-align: center;
  transition: all .3s;
}

.form__field_state_focus:focus {
  border-color: #20b2aa;
  text-align: left;
}

.form__field::-moz-placeholder {
  color: rgba(0, 0, 0, .38);
}

.form__field::-webkit-placeholder {
  color: rgba(0, 0, 0, .38);
}

.form__go {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -6em;
  z-index: 2;
  width: 3em;
  height: 3em;
  padding: .875em .75em;
  border: 0;
  outline: none;
  margin: 0;
  background-color: transparent;
  font: normal normal 12pt/1 'Fira Sans', Verdana, Geneva, sans-serif;
  color: rgba(0, 0, 0, .6);
  transition: all .3s;
}

.form__field_state_focus:focus + .form__go {
  right: 0;
}

.form__go_state_hover:hover {
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}


.resume {
  position: relative;
  margin: 3em 0;
  border-radius: .25em;
  background-color: #fff;
}

.resume__section {
  border-top: .0625em solid rgba(0, 0, 0, .12);
}

.resume__section:first-child {
  border-top: none;
}

.resume__text {
  position: relative;
  padding: .75em 0;
  color: rgba(0, 0, 0, .87);
  line-height: 1.5;
}

.resume__text_term {
  color: rgba(0, 0, 0, .6);
}

.resume__text_hidden {
  color: rgba(0, 0, 0, .38);
}